@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This application displays 14 day's weather forecast i.e. maximum temperature, minimum temperature, average humidity, total precipitation, 
    weather condition, sunrise and sunset for three cities: Reno NV, Austin TX and Tampa FL.</p>
<p>User may also search for specific locations weather forecast by clicking on the "Search Weather" from the top bar and
    providing the city name or zip code.</p>
